{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title%}Alex motos{% endblock %}
{% block main %}
<main>

<!--Main layout-->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!--Second row-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s">
                        <h4>Contactanos :</h4>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <p><strong>Llena los datos a continuacion</strong></p>
                                <p>Una vez enviado nos prondremos en contacto con tigo</p>
                                <form action method="post" name="form" >{% csrf_token %}
                                    <div class="md-form">
                                        <i class="fa fa-user prefix"></i>
                                        {{form.name}}
                                        <label for="name">Tu nombre completo</label>
                                    </div>
                                    <div class="md-form">
                                        <i class="fa fa-envelope prefix"></i>
                                        {{form.email}}
                                        <label for="email">Tu correo electronico</label>
                                    </div>
                                    <div class="md-form">
                                        <i class="fa fa-phone  prefix"></i>
                                        {{form.celphone}}
                                        <label for="form2">Celular</label>
                                    </div>
                                    <div class="md-form">
                                        <i class="fa fa-book prefix"></i>
                                        {{form.subjet}}
                                        <label for="subjet">Asunto</label>
                                    </div>
                                     <div class="md-form">
                                        <i class="fa fa-motorcycle prefix"></i>
                                        <input type="text" disabled="disabled" value="{{bike}}" class="form-control">
                                        <label for="bike"></label>
                                    </div>
                                    <button class="btn btn-default" type="submit">Enviar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<!--/.Main layout-->

    </main>
{% endblock%}
