{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title%}Alex motos{% endblock %}
{% block main %}
<main>

<!--Main layout-->
<div class="container">
    <div class="row">

        {% include 'base/sidebar.html' %}
        <!--Main column-->
        <div class="col-lg-8">
            <!--Second row-->
            <div class="row">
                <!--First columnn-->
                <div class="col-lg-12">
                    <div class="divider-new">
                        <h2 class="h2-responsive">Ultimos modelos</h2>
                    </div>
                </div>
                {% for last_bike in last_bikes%}
                     <div class="col-lg-4">
                    <!--Card-->
                    <div class="card wow fadeIn" data-wow-delay="0.2s">

                        <!--Card image-->
                        <img class="img-fluid" src="{{ last_bike.photo.url }}" alt="Card image cap">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">{{ last_bike.name }}</h4>
                            <!--Text-->
                            <p class="card-text">
                                {{ last_bike.description|truncatechars:50  }}
                            </p>
                            <a href="{% url 'contact' last_bike.id %}" class="btn btn-default">Pide mas información</a>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
                {% endfor %}
               <!--Third columnn-->
            </div>
            <!--/.Second row-->

        </div>
        <!--/.Main column-->

    </div>
</div>
<!--/.Main layout-->

    </main>
{% endblock%}
