 <!--Sidebar-->
    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s">

        <div class="widget-wrapper">
            <h4>Categorias:</h4>
            <br>
            <div class="list-group">
                <a href="#" class="list-group-item">Scooter y semiautomática</a>
                <a href="#" class="list-group-item">Sport</a>
                <a href="#" class="list-group-item">Super Sport</a>
                <a href="#" class="list-group-item">Todo terreno</a>
                <a href="#" class="list-group-item">Aventura</a>
                <a href="#" class="list-group-item">Enduro y motocross</a>
                <a href="#" class="list-group-item">Cuatrimotos</a>
                <a href="#" class="list-group-item">Ediciones especiales</a>
            </div>
        </div>

    </div>
<!--/.Sidebar-->